<h1>Listing Articles</h1>

<%= link_to 'New article', new_article_path %> |
<%= link_to "CSV", articles_path(format: "csv") %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Rating</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <% if article.ratings.blank? %>
        <td>0</td>
      <% else %>
        <td><%= article.ratings.average(:score).round(2) %></td>
      <% end %>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
                      method: :delete,
                      data: {confirm: 'Are you sure?'} %></td>
      <td><%= link_to 'Add Rating', new_article_rating_path(article) %></td>
    </tr>
  <% end %>
</table>