<%= form_with(model: [@article, @article.ratings.build], local: true) do |form| %>

  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@rating.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @rating.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :score %><br>
    <%= form.text_field :score %>
  </p>
  <p>
    <%= form.submit %>
  </p>

<% end %>